[core]
	excludesfile = ~/.gitignore_global
	quotePath = false
[log]
	abbrevCommit = off
	decorate = true
[color "status"]
	untracked = "red bold "
[credential]
	helper = cache --timeout=3600
[rebase]
	autosquash = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[user]
	name = Yutaka Kamei
	signingkey = B4282A48C22883EE
	email = kamei@example.com
[tag]
	sort = version:refname
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
	path = /home/kamei/.netlify/helper/git-config
