[core]
	excludesfile = ~/.gitignore_global
	quotePath = false
[log]
	abbrevCommit = off
	decorate = true
[color "status"]
	untracked = "red bold "
[credential]
	helper = cache --timeout=3600
[rebase]
	autosquash = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[user]
	name = Yutaka Kamei
	signingkey = EA1DF39D3F169220
	email = kamei@yykamei.me
[tag]
	sort = version:refname
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/yutaka.kamei/Library/Preferences/netlify/helper/git-config
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[branch]
	autoSetupMerge = false
[advice]
	skippedCherryPicks = false
[include]
	path = ~/.gitconfig-local
