[core]
	excludesfile = /home/kamei/.gitignore_global
[log]
	abbrevCommit = off
	decorate = true
[color "status"]
	untracked = "red bold "
[credential]
	helper = cache --timeout=3600
[rebase]
	autosquash = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
