set ideajoin
set nowrapscan
set hlsearch
set incsearch
set noignorecase
set magic

" Key mapping for insert mode (like Bash)
inoremap <C-e> <End>
inoremap <C-a> <Home>
inoremap <C-d> <Del>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-k> <C-O>D
inoremap <C-n> <ESC>:action HippieCompletion<CR>a
inoremap <C-p> <ESC>:action HippieBackwardCompletion<CR>a
nnoremap <C-PageUp> :tabprevious<CR>
nnoremap <C-PageDown> :tabnext<CR>
